//
// Top Link chiclet styling
// for Covenant Health sites
//
// ==========================

.top-links {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.top-links li {
  display: inline;
  margin-right: 5px;
}
.top-links li:last-of-type {
  margin-right: 0;
}
.top-links li a {
     @include background-image(linear-gradient($covenant-blue, darken($covenant-blue, 10%)));
    border-radius: 0 0 5px 5px;
       box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
            color: rgba(255, 255, 255, 0.8);
        font-size: 11px;
      font-weight: 600;
          padding: 6px 5px 5px;
  text-decoration: none;
}
.top-links li a:active,
.top-links li a:focus,
.top-links li a:hover {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .top-links {
    margin: -5px 0 10px;
  }
}
@media (min-width: 768px) {
  .top-links {
    margin-top: -3px;
  }
  .top-links li a {
      font-size: 11px;
    font-weight: 0;
  }
}