//
// Widget styles for Covenant Health sites
//
// ====================================

.widget {
  list-style-type: none;
}
.widget ul {
  border-bottom: 1px solid lighten($gray, 50%);
  list-style-type: none;
  padding: 0 0 13px 0;
}
.widget ul li {
  font-size: 15px;
}
.tribe-events-list-widget {
  border-bottom: 1px solid lighten($gray, 50%);
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
}
ol.tribe-list-widget {
  padding-left: 0;
}
ol.tribe-list-widget li {
  margin-bottom: 13px;
}
.tribe-events-list-widget-events h4 {
  margin: 0;
}
.tribe-event-duration {
  font-size: 13px;
  font-weight: 300;
}
.widget:last-of-type ul {
  border: 0;
  padding: 0;
}
.post-date {
  display: block;
  font-size: 13px;
}

// facebook widget
#cff h3 {
  margin-top: 0;
}
.cff-header i,
.cff-post-desc {
  display: none;
}
#cff.cff-fixed-height {
  padding: 0;
}
.cff-item:last-of-type {
   border: none !important;
  padding: 20px 0 0;
}